*~
.*
!.git?*
!.clang-format

*.o
*.obj
*.exe
*.pdb

/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/autoscan.log
/configure
/config.log
/config.status
/conftest*
/compile
/depcomp
/install-sh
/missing
/stamp-h1

/config.h
/config.h.in
/breakln
/breakln-*.tar.*
